/* general styles */

html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	background-color: #333;
	font: 62.5% Verdana, sans-serif;
}
body.DarkMode
{
	background-color: #666;
}

.Page
{
	margin: 0px 30px;
	padding: 0.1em 6em 4em 6em;
	background-color: #faf5e9;
	color: #382806;
	_height: 100%;
	border-left: 2px solid #fff;
	border-right: 1px solid #78714b;
}
.DarkMode .Page
{
	background-color: #262205;
	color: #f9dfc7;
	border-left: 2px solid #000;
	border-right: 1px solid #b48e87;
}

a
{
	color: #b50000;
}
.DarkMode a
{
	color: #cc3800;
}

a:visited
{	
	color: #803030;
}
.DarkMode a:visited
{	
	color: #d05830;
}

a:hover
{
	color: #d11515;
}
.DarkMode a:hover
{
	color: #c02800;
}

blockquote
{
	background-color: #f5f0e6;
	color: #000;
	font: 120% Georgia, "Times New Roman", serif;
	padding: 0px 10px;
	margin: 0px;
	border: 1px dotted #aaa;
}
.DarkMode blockquote
{
	background-color: #2f2a05;
	color: #fff8dd;
	border: 1px dotted #666;
}

p, li, dd
{
	font-size: 1.4em;
	line-height: 140%;
}

h1
{
	color: black;
	font-weight: normal;
	font-size: 3.8em;
	font-family: Georgia, "Times New Roman", serif;
	margin-bottom: 0.4em;
	text-align: center;
}
.DarkMode h1
{
	color: #fff8dd;
}

h3
{
	margin: 2em 0px 0px 0px;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 2.4em;
	font-weight: normal;
	color: black;
}
.DarkMode h3
{
	color: #fff8dd;
}

h4
{
	margin: 2em 0px 0px 0px;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 2.2em;
	font-weight: normal;
	color: black;
}
.DarkMode h4
{
	color: #fff8dd;
}

hr
{
	display: none;
}

.RightAlign
{
	text-align: right;
}

.LeftFloat, .LeftFloatIfWide
{
	float: left;
	margin-right: 2em;
}

.RightFloat
{
	float: right;
	margin-left: 2em;
}

.ClearFloat
{
	clear: both;
}

.BottomMargin
{
	margin-bottom: 1.5em;
}

.NoBottomMargin
{
	margin-bottom: 0px;
}

.NoTopMargin
{
	margin-top: 0px;
}

.Hide
{
	display: none;
}

.Footer
{
	clear: both;
	padding-top: 4em;
	margin: 0px 5%;
	font-size: 0.9em;
	font-style: italic;
	text-align: center;
}

.Footer a
{
	color: #5a0000;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}

.Footer a:hover
{
	color: #d11515;
	text-decoration: underline;
}

.Header
{
	padding-top: 1em;
}

.Date
{
	font-size: 90%;
	font-weight: normal;
	color: #777;
}

.SymLinkRef
{
	font-size: 90%;
	font-weight: normal;
}

a.PermaLink
{
	text-decoration: none;
	color: #DAA;
}
a.PermaLink:hover
{
	color: #D11515;
}

.ItemList dd.FileData
{
	font-size: 1.0em;
	margin-left: 20px;
}

.ItemList dd.FileData a
{
	font-weight: normal;
}

/* elements that appear on several pages */

#indexlist
{
	margin-left: 0px;
	padding-left: 0px;
	text-indent: 10px hanging;
}

#alldirlist a,
{
	font-weight: bold;
}

#alldirlist li,
{
	font-size: 1.4em;
	margin-bottom: 0.4em;
}


#subdirlist
{
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
}

#subdirlist li
{
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 0.4em;
}

.ItemList
{
	margin: 0px;
}

.ItemList dt
{
	font-weight: bold;
	font-size: 1.4em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	text-indent: 20px hanging;
}

.ItemList dd {
	margin-left: 20px;
}

.ItemList dd p
{
	margin-top: 0.4em;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0.4em;
	font-size: 0.9em;
}

.ItemList dd ul
{
	padding-left: 20px;
}

.ItemList dd li
{
	list-style: circle;
	font-size: 0.9em;
}

/* home page */

#frontpage
{
	position: relative;
}

#frontpage .Header
{
	margin-bottom: 4em;
}

#frontpage .Description blockquote
{
	margin: 0px;
}

#frontpage .PrimeLink a
{
	font-size: 120%;
	font-weight: bold;
}

#frontpage .Description, #frontpage .ArchiveMirrors, #frontpage .Submissions, #frontpage .Introduction
{
	margin-right: 330px;
	word-wrap: break-word;
}

#frontpage .RightCol
{
	position: absolute;
	width: 270px;
}

#frontpage .RightCol h3
{
	color: black;
	font-size: 1.8em;
	font-style: italic;
	margin: 0px;
	padding-bottom: 0.1em;
	border-bottom: 1px dotted #222;
}

#frontpage .RightCol p,
#frontpage .RightCol li
{
	font-size: 1.2em;
}

#frontpage .RightCol
{
	top: 11.5em;
	right: 6em;
}

#frontpage .RightCol ul
{
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}

#frontpage .RightCol li
{
	margin-bottom: 1.2em;
}

#frontpage .NewToIF
{
	margin-top: 1em;
}

#frontpage .Submissions
{
	margin-top: 3em;
}

#frontpage .ColImage
{
	max-width: 100%;
	aspect-ratio: auto 2/3;
}

#frontpage .IFTFLogo
{
	margin-top: 8px;
	margin-bottom: 8px;
}

#frontpage .LogoButtonBlock
{
	text-align: center;
}

#frontpage .Donate
{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.4em;
	font-weight: bold;
	margin: 4px;
	color: white;
	background-color: #D16525;
	border: 1px solid #5A0000;
	border-radius: 6px;
	padding: 8px 10px;
	cursor: pointer;
}

#frontpage .Donate:hover
{
	background-color: #F17545;
}

/* orthogonal list pages */

#dirpage .Header,
#datepage .Header
{
	margin-bottom: 3em;
}

#dirpage .Description,
#datepage .Description
{
	width: 20% !important; /* overrides later declaration in #indexpage section */
}

#dirpage .Body,
#datepage .Body
{
	padding-top: 1px;
	margin-left: 20% !important; /* overrides later declaration in #indexpage section */
}

/* full index pages */

#indexpage h1
{
	margin-bottom: 0px;
}

#indexpage .ParentLinks
{
	text-align: center;
}

#indexpage .ParentLinks a
{
	color: #5a0000;
	text-decoration: none;
	font-weight: bold;
}

#indexpage .ParentLinks a:hover
{
	color: #d11515;
	text-decoration: underline;
}

#indexpage .ParentLinks ul
{
	margin: 0.3em;
	margin-left: 0px;
	padding-left: 0px;
}

#indexpage .ParentLinks li
{
	display: inline;
	font-size: 1.3em;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 1.5em;
}

#indexpage .Description, #indexpage .Body
{
	margin-top: 3em;
}

#indexpage .Description, 
#dirpage .Description,
#datepage .Description
{
	float: left;
	width: 35%;
	font-size: 1.2em;
	line-height: 140%;
}

#indexpage .Description p,
#indexpage .Description li,
#dirpage .Description p,
#dirpage .Description li,
#datepage .Description p,
#datepage .Description li
{
	font-size: 100%;
}

#indexpage .Description a:hover
{
	text-decoration: underline;
}

#indexpage .Description ul
{
	padding-left: 2.1em;
	margin-left: 0px;
}

#indexpage .Description li
{
	margin-bottom: 0.3em;
}

#indexpage .Description .PropList
{
	list-style: none;
	padding-left: 0px;
}

#indexpage .Description .PropList li
{
	margin-left: 0px;
}

#dirpage .Body dl,
#datepage .Body dl
{
	margin-left: 20px;
}

#indexpage .Body, 
#dirpage .Body,
#datepage .Body
{
	margin-left: 38%;
	word-wrap: break-word;
}

#indexpage .Body a
{
	font-weight: bold;
}

#indexpage h3.ListHeader
{
	margin-top: 1em;
	padding-bottom: 0.1em;
	margin-bottom: 1em;
	font-size: 1.8em;
	font-style: italic;
	border-bottom: 1px dotted #222;
}
.DarkMode #indexpage h3.ListHeader
{
	border-bottom: 1px dotted #DDD;
}

#indexpage h4.ListHeader
{
	margin-top: 1em;
	padding-bottom: 0.1em;
	margin-bottom: 1em;
	font-size: 1.6em;
	font-style: italic;
	text-decoration: underline #222 dotted;
}
.DarkMode #indexpage h4.ListHeader
{
	text-decoration: underline #DDD dotted;
}

#indexpage .Header a
{
	color: black;
	text-decoration: none;
}
.DarkMode #indexpage .Header a
{
	color: #fff8dd;
}

#indexpage .Header a:hover
{
	color: #d11515;
	text-decoration: underline;
}
.DarkMode #indexpage .Header a:hover
{
	color: #d11515;
}

/* other pages */

#licensepage blockquote
{
	font-family: inherit;
	border: none;
	background-color: inherit;
	margin-left: 40px;
	padding: 0px;
}

#licensepage ul
{
	font-size: 0.85em;
	list-style: none;
}

#uploadpage .QuoteBox
{
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#uploadpage code
{
	font: 100% "Courier Prime", "Courier", monospace;
}

#uploadpage .FormTable
{
	font-size: 1.5em;
}

#uploadpage .FormTable .FormField
{
	width: 100%;
	font-size: 1.0em;
	padding: 2px 4px;
}

#uploadpage .FormButton {
	font-size: 100%;
	margin: 4px;
	background-color: white;
	border: 1px solid #AAA;
	border-radius: 6px;
	padding: 2px 8px;
}

#uploadpage .SubmitPara {
	text-align: center;
}

#uploadpage .FormUploadWidget {
	font-size: 100%;
}

#unboxpage .Header a
{
	color: black;
	text-decoration: none;
}

#unboxpage .Description
{
	text-align: center;
}

#unboxpage .StartForm
{
	margin: 25px 0;
}

#unboxpage .InputLine
{
	font-size: 175%;
}

#unboxpage .Button
{
	font-size: 175%;
}

#unboxpage .StartButton
{
	padding: 4px 8px;
}

#unboxpage .ListBox
{
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}

#unboxpage .Error
{
	font-family: monospace;
}

/* Style customizations for narrow displays. */

@media screen and (max-width: 960px) {

.LeftFloatIfWide
{
	float: none;
	margin-right: 0px;
}

}

@media screen and (max-width: 750px) {

.Page 
{
	padding: 0.1em 3em 2em 3em;
}

#frontpage .Description, #frontpage .ArchiveMirrors, #frontpage .Submissions, #frontpage .Introduction
{
	margin-right: 60%;
}

#frontpage .RightCol
{
	position: absolute;
	width: 40%;
}

}

@media screen and (max-width: 480px) {

.Page 
{
	margin: 0px 0px;
}

#indexpage .Description, 
#dirpage .Description,
#datepage .Description
{
	float: none;
	width: 100% !important;
}

#indexpage .Body, 
#dirpage .Body,
#datepage .Body
{
	margin-left: 0px !important;
}

#frontpage .RightCol
{
	position: relative;
	padding-top: 0px;
	width: inherit;
	top: 0px;
	right: 0px;
	margin-top: 3em;
	background-image: none;
}

#frontpage .Description, #frontpage .ArchiveMirrors, #frontpage .Submissions, #frontpage .Introduction
{
	margin-right: 0px;
}



}
